<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<%= form_with model: @user, url: "/users/sign_in", class: 'registration-main', local: true do |f| %>
  <div class="container">
    <div class="login-container">
              <div id="output"></div>
              <div class="avatar"></div>
              <div class="form-box">
                      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"email address", autofocus: true %>
                      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"password" %>
                      <%= f.submit "ログイン" ,class:"btn btn-info btn-block login" %>
                      <%# <input name="user" type="text" placeholder="username">
                      <input type="password" placeholder="password">
                      <button class="btn btn-info btn-block login" type="submit">Login</button> %>
              </div>
      </div>        
  </div>
<% end %>